Salt la conținut[![webex-logo](https://help.webex.com/logo/webexlogo.png)Centrul de ajutor](https://help.webex.com/ro-ro)
* ![pictograma de căutare](https://help.webex.com/images/search-icon.svg)Căutați...Ctrl K
* ![pictograma de căutare](https://help.webex.com/images/search-icon.svg)
* ![Cisco AI Assistant pentru Webex](https://help.webex.com/images/cisco-ai-assistance.svg)
![](https://help.webex.com/images/wca-old.png)
Webex Chat Assistant is now Cisco AI Assistant
Same help, now built right into the navigation
  * [Începeți](https://help.webex.com/ro-ro/getting-started)
  * [Ajutor în funcție de produs](https://help.webex.com/ro-ro/products)
  * [Administrare](https://help.webex.com/ro-ro/administration)
  * [Noutăți](https://help.webex.com/ro-ro/ld-v6m1dl)
  * Resurse
Support
[Join a meeting](https://signin.webex.com/join)
[Developer Tools![Developer Tools](https://help.webex.com/images/pop-out-bold.svg)](https://developer.webex.com/)
[Adoption Hub![](https://help.webex.com/images/pop-out-bold.svg)](https://www.webex.com/us/en/adopt/index.html)
[Contact Support](https://help.webex.com/ro-ro/contact)
learn
[Video resources](https://help.webex.com/ro-ro/video-resources)
[Webex Academy![Webex Academy](https://help.webex.com/images/pop-out-bold.svg)](https://academy.webex.com/learn)
[Live Events and Webinars![Live Events and Webinars](https://help.webex.com/images/pop-out-bold.svg)](https://www.webex.com/learn/webinars-demos.html)
[Webex Blog![Webex Blog](https://help.webex.com/images/pop-out-bold.svg)](https://blog.webex.com/)
programs
[Webex Community![Webex Community](https://help.webex.com/images/pop-out-bold.svg)](https://community.cisco.com/t5/webex-community/ct-p/webex-user)
[Webex Insider![Webex Insider](https://help.webex.com/images/pop-out-bold.svg)](https://www.webex.com/insider)
[App Hub![App Hub](https://help.webex.com/images/pop-out-bold.svg)](https://apphub.webex.com/)
![Cisco AI Assistant](https://help.webex.com/images/ai.png)
## Cisco AI Assistant
The most advanced generative AI-powered platform for hybrid work and customer experience.
[Learn more →](https://help.webex.com/ro-ro/webex-ai)
![webex](https://help.webex.com/logo/webexsmall.png)[Download Webex](https://www.webex.com/downloads.html)
[+1-888-469-3239](tel:+1-888-469-3239)[Contact Sales →](https://www.webex.com/contact-sales.html)
  * ![pictograma de căutare](https://help.webex.com/images/search-icon.svg)Căutați...Ctrl K
  * ![Cisco AI Assistant pentru Webex](https://help.webex.com/images/cisco-ai-assistance.svg)
  * Română
    * [ Dansk ](https://help.webex.com/da-dk/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Deutsch ](https://help.webex.com/de-de/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ English ](https://help.webex.com/en-us/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Español ](https://help.webex.com/es-co/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Français ](https://help.webex.com/fr-fr/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Italiano ](https://help.webex.com/it-it/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Nederlands ](https://help.webex.com/nl-nl/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Português ](https://help.webex.com/pt-br/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Pyccĸий ](https://help.webex.com/ru-ru/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Svenska ](https://help.webex.com/sv-se/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Tϋrkçe ](https://help.webex.com/tr-tr/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ 한국어 ](https://help.webex.com/ko-kr/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ 日本語 ](https://help.webex.com/ja-jp/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ 简体中文 ](https://help.webex.com/zh-cn/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ 繁體中文 ](https://help.webex.com/zh-tw/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Română ](https://help.webex.com/ro-ro/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)![bifă limbă](https://help.webex.com/images/checkbox-check.svg)
    * [ Magyar ](https://help.webex.com/hu-hu/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Polski ](https://help.webex.com/pl-pl/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Čeština ](https://help.webex.com/cs-cz/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Български ](https://help.webex.com/bg-bg/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Norsk ](https://help.webex.com/no-no/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Hrvatski ](https://help.webex.com/hr-hr/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Srpski ](https://help.webex.com/sr-rs/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Українська ](https://help.webex.com/uk-ua/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ العربية ](https://help.webex.com/ar-ae/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ עברית ](https://help.webex.com/he-il/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Suomi ](https://help.webex.com/fi-fi/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Slovenščina ](https://help.webex.com/sl-si/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
    * [ Slovenský ](https://help.webex.com/sk-sk/article/n7i635u/Cisco-Webex-Meetings-Email-Verification)
  * Conectați-vă


  * [Pagină de pornire](https://help.webex.com/ro-ro)
  * /
  * Articol


Acest articol se aplică pentru:
  * ![](https://help.webex.com/images/products-icon.svg)
Produse
![](https://help.webex.com/images/arrow-down_16.svg)
  * ![](https://help.webex.com/images/industries-icon.svg)
Industrii
![](https://help.webex.com/images/arrow-down_16.svg)
  * ![](https://help.webex.com/images/roles-icon.svg)
Roluri
![](https://help.webex.com/images/arrow-down_16.svg)
  * ![](https://help.webex.com/images/operating-systems-icon.svg)
Sisteme de operare
![](https://help.webex.com/images/arrow-down_16.svg)


A fost util acest articol?
![close](https://help.webex.com/images/icn-close.svg)
# Mulțumim pentru feedback.
![](https://help.webex.com/images/thumbs-up.svg)Da, mulțumim!![](https://help.webex.com/images/thumbs-down.svg)Nu chiar
05 decembrie 2024 | 678 vizualizare(ări) | 0 persoane au considerat că este util
![](https://help.webex.com/images/print-icon-new.svg)
Abonare
# Verificare e-mail Webex Meetings
![list-menu](https://help.webex.com/images/feedback.svg)Feedback?
Adresele de e-mail exacte reprezintă un pas fundamental în furnizarea de servicii cloud securizate utilizatorilor. Cisco Webex solicită și notifică acum tuturor utilizatorilor cu conturi să le verifice adresele de e-mail. Cu toate acestea, administratorii site-ului Webex pot împiedica utilizatorii să vadă orice notificări de verificare prin e-mail. Acesta este un rezumat al notificărilor și acțiunilor pe care administratorii le pot lua pentru a dezactiva notificările. 
## Verificarea prin e-mail Prima alertă (WBS39.1 și WBS32.23)
Pentru versiunea WBS39.1 și WBS32.23, am anunțat anterior că utilizatorii Modern View și Classic View văd o pictogramă de alertă lângă linkul lor de profil atunci când se conectează. Am revenit asupra experienței planificate pentru WBS39.1 și WBS32.23. Vom oferi experiența utilizatorului de verificare prin e-mail începând cu WBS39.2 și WBS32.24.
## Verificarea e-mail mesaj de avertizare moderată (WBS39.2 și WBS32.24)
La două săptămâni după lansarea WBS39.2 și WBS32.24, utilizatorii Modern View și Classic View vor vedea două notificări care îi informează că vom impune verificarea prin e-mail. După ce se conectează, văd un banner în partea de sus a paginii și o pictogramă de alertă lângă linkul de profil. În perioada de două săptămâni înainte ca acest mesaj să fie afișat utilizatorilor, administratorii site-ului pot verifica un domeniu de e-mail în Administrarea site-ului Webex. Toți utilizatorii cu e-mail aparținând unui domeniu de e-mail verificat nu vor vedea bannerul de verificare a e-mailului sau pictograma de alertă. Când acest mesaj banner apare utilizatorilor, acesta va specifica data după care verificarea va fi obligatorie.
**Webex Meetings Banner**
![](https://cisco-api.ingeniuxondemand.com/DITA/content/en/us/td/i/500001-600000/500001-510000/502001-503000/502410.jpg)
Data afișată utilizatorilor este diferită în funcție de disponibilitatea WBS39.2 și WBS32.24 pentru clusterul dvs.
**Prevenire:**
Dacă nu doriți ca utilizatorilor să li se solicite să își verifice adresele de e-mail, efectuați _una_ dintre următoarele acțiuni:
  * Verificați domeniul de e-mail. Pentru mai multe informații, consultați [Verificați un domeniu de e-mail în Administrarea site-ului Cisco Webex.](https://help.webex.com/ro-ro/article/zm8xff)
Începând cu WBS39.2.5 și WBS32.24.2, subdomenii adăugate la administrarea site-ului înainte sau după ce domeniul părinte este verificat vor fi verificate automat fără a avea nevoie de niciun simbol. Orice subdomenii adăugate înainte de disponibilitatea WBS39.2.5 sau WBS32.24.2 nu vor fi verificate automat și poate fi necesar să fie adăugate din nou.
  * Conectați-vă site-ul la Cisco Webex Control Hub și verificați domeniul. Pentru mai multe informații, consultați [Conectarea site-urilor Cisco Webex la Control Hub](https://help.webex.com/ro-ro/341eud/) și [Adăugarea, verificarea și revendicarea domeniilor](https://help.webex.com/ro-ro/nxz79m5/Add-Verify-and-Claim-Domains).


## Acțiune obligatorie de verificare prin e-mail (la 30 de zile după mesajul de avertizare moderat)
La 30 de zile după ce bannerul mesajului de avertizare moderat apare în WBS39.2 și WBS32.24, utilizatorii sunt obligați să-și verifice e-mailurile prima dată când se conectează la site-ul actualizat. Aceștia nu pot continua să utilizeze funcționalitatea Webex Meetings pe pagina lor până când nu și-au verificat e-mailul. Utilizatorii nou-provizionați trebuie să-și verifice imediat e-mailul. Utilizatorii existenți au posibilitatea de a-și amâna verificarea, în cazul în care au o nevoie urgentă de a-și accesa pagina. Perioada de amânare este de 24 de ore din momentul în care fac clic pe butonul Amânare.
![](https://cisco-api.ingeniuxondemand.com/DITA/content/en/us/td/i/500001-600000/500001-510000/502001-503000/502407.jpg)
**Banner de administrare a site-ului Webex**
![](https://cisco-api.ingeniuxondemand.com/DITA/content/en/us/td/i/500001-600000/500001-510000/502001-503000/502588.jpg)
**Prevenire:**
Dacă nu doriți ca utilizatorilor să li se solicite să își verifice adresele de e-mail, efectuați _una_ dintre următoarele acțiuni:
  * Verificați domeniul de e-mail în Administrare site. Pentru mai multe informații, consultați [Verificați un domeniu de e-mail în Administrarea site-ului Cisco Webex.](https://help.webex.com/ro-ro/article/zm8xff)
  * Conectați site-urile la Cisco Webex Control Hub și verificați domeniul în Control Hub. Pentru mai multe informații, consultați [Conectarea site-urilor Cisco Webex la Control Hub](https://help.webex.com/ro-ro/341eud/) și [Adăugarea, verificarea și revendicarea domeniilor](https://help.webex.com/ro-ro/nxz79m5/Add-Verify-and-Claim-Domains).
Atunci când verificați în Control Hub, poate dura până la 24 de ore pentru ca verificarea domeniului să se propage și să marcheze utilizatorii ca verificați în site-ul Webex.


A fost util acest articol?
Da, mulțumim!
Nu chiar
A fost util acest articol?
![](https://help.webex.com/images/arrow-down_20.svg)
![](https://help.webex.com/images/up-btn.svg)![](https://help.webex.com/images/down-btn.svg)
Vizualizate recent
![](https://help.webex.com/images/arrow-down_20.svg)
  * [Activați politica de ștergere automată pentru înregistrările Webex](https://help.webex.com/ro-ro/article/nue0dlp)
  * [Încărcarea bateriei receptorului DECT](https://help.webex.com/ro-ro/article/n3aqkeq)
  * [Konfigurowanie handlu elektronicznego dla swojej witryny Webex w usłudze Administrowanie witryną Cisco Webex](https://help.webex.com/ro-ro/article/ns9kodx)
  * [Odbierz Ostrzeżenie W Przypadku Przekroczenia Pojemności Miejsca Do Przechowywania W Witrynie Webex](https://help.webex.com/ro-ro/article/npyqshab)


![](https://help.webex.com/icons/arrow-up_16.svg)
## Întreprindere mică
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Prețuri](https://pricing.webex.com/)[Aplicația Webex](https://www.webex.com/all-new-webex.html)[Meetings](https://www.webex.com/video-conferencing.html)[Calling](https://www.webex.com/cloud-calling.html)[Mesagerie](https://www.webex.com/team-collaboration.html)[Partajare ecran](https://www.webex.com/screen-sharing.html)
## Enterprise
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Webex Suite](https://www.webex.com/collaboration-suite.html)[Calling](https://www.webex.com/cloud-calling.html)[Meetings](https://www.webex.com/video-conferencing.html)[Mesagerie](https://www.webex.com/team-collaboration.html)[Slido](https://www.webex.com/audience-engagement.html)[Seminare web](https://www.webex.com/webinar.html)[Events](https://socio.events/)[Contact Center](https://www.webex.com/contact-center.html)[CPaaS](https://www.webex.com/customer-interaction-management.html)[Securitate](https://www.webex.com/security.html)[Control Hub](https://www.webex.com/control-hub.html)
## Dispozitive
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Căști](https://hardware.webex.com/products/headsets)[Camere](https://hardware.webex.com/products/cameras)[Seria Desk](https://hardware.webex.com/products/desk-series)[Seria Room](https://hardware.webex.com/products/room-series-and-kits)[Seria Board](https://hardware.webex.com/products/board-series)[Seria Phone](https://hardware.webex.com/products/phones)[Accesorii](https://hardware.webex.com/products/accessories)
## Soluții pentru
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Educație](https://www.webex.com/industries/education.html)[Asistență medicală](https://www.webex.com/industries/healthcare.html)[Guvern](https://www.webex.com/industries/government.html)[Finanțe](https://www.webex.com/industries/financial-services.html)[Sport și divertisment](https://www.webex.com/industries/sports-entertainment.html)[Prima linie](https://www.webex.com/industries/frontline.html)[Nonprofit](https://www.webex.com/industries/nonprofits.html)[Start-upuri](https://www.webex.com/industries/start-ups.html)[Activitate hibridă](https://www.webex.com/hybrid-work.html)
## Resurse
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Descărcări](https://www.webex.com/downloads.html)[Intrați într-o întâlnire de probă](https://www.webex.com/test-meeting.html)[Cursuri online](https://help.webex.com/ro-ro/landing/onlineclasses)[Integrări](https://www.webex.com/products/integrations/index.html)[Accesibilitate](https://www.webex.com/accessibility.html)[Incluzivitate](https://www.webex.com/inclusive-collaboration.html)[Seminare web live și la cerere](https://www.webex.com/learn/webinars-demos.html)[Comunitate Webex](https://cs.co/webexcommunity)[Dezvoltatori Webex](https://developer.webex.com/)[Noutăți și inovație](https://www.webex.com/resources/whats-new.html)
## Companie
![pictograma săgeată](https://help.webex.com/images/Mask.svg)
[Cisco](https://www.cisco.com/c/en/us/solutions/collaboration/index.html#~stickynav=1)[Contactați asistența](https://help.webex.com/ro-ro/contact)[Contactați departamentul de vânzări](https://www.webex.com/us/en/dg/contact-sales.html)[Webex Blog](https://blog.webex.com/)[Spirit inovator Webex](https://webexahead.webex.com/)[Magazin produse Webex](https://www.webexmerchstore.com/)[Cariere](https://www.webex.com/company/careers.html)
  * [![X](https://help.webex.com/images/social-x.svg)](https://twitter.com/webex)
  * [![LinkedIn](https://help.webex.com/images/linkedinIcon.svg)](https://www.linkedin.com/company/webex)
  * [![Facebook](https://help.webex.com/images/facebookIcon.svg)](https://www.facebook.com/webex)
  * [![Youtube](https://help.webex.com/images/youtubeIcon.svg)](https://www.youtube.com/c/webex)
  * [![Instagram](https://help.webex.com/images/insta.svg)](https://www.instagram.com/webex/)


[Clauze și condiții](https://www.cisco.com/c/en/us/about/legal/terms-conditions.html)[Declarație de confidențialitate](https://www.cisco.com/c/en/us/about/legal/privacy-full.html)[Module cookie](https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies)[Mărci comerciale](https://www.cisco.com/web/siteassets/legal/trademark.html)
©2026 Cisco și/sau afiliații săi. Toate drepturile rezervate. 
[Clauze și condiții](https://www.cisco.com/c/en/us/about/legal/terms-conditions.html)[Declarație de confidențialitate](https://www.cisco.com/c/en/us/about/legal/privacy-full.html)[Module cookie](https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies)[Mărci comerciale](https://www.cisco.com/web/siteassets/legal/trademark.html)
